<div class="container">
  <form [formGroup]="messageForm">
    <div class="form-group w-50">
      <label for="name">User Name:</label>
      <input type="text" class="form-control" [name]="'name'" [formControlName]="'name'">
      <input type="text" class="form-control" [formControlName]="'message'">
    </div>
    <button (click)="sendMessage()" [disabled]="messageForm.invalid">Send message</button>
  </form>
  <ul>
    <li *ngFor="let message of userMessages | async">
      {{message.userName}}: {{message.text}}
    </li>
  </ul>
</div>
