<div class="container">
  <form [formGroup]="messageForm" class="mb-2">
    <div class="form-group w-50">
      <div class="form-inline">
        <label>User Name:</label>
        <input type="text" class="form-control ml-2" [name]="'name'" [formControlName]="'name'">
      </div>
      <div class="form-inline mt-1">
        <label>Message:</label>
        <input type="text" class="form-control ml-2 w-75" [formControlName]="'message'">
      </div>
    </div>
    <button class="btn btn-outline-dark" (click)="sendMessage()" [disabled]="messageForm.invalid">Send message</button>
  </form>
  <div class="scroll-box mb-3" #chatBox>
    <ul>
      <li *ngFor="let message of userMessages | async">
        {{message.userName}}: {{message.text}}
      </li>
    </ul>
  </div>
</div>
